.list {
    color: gray;
    padding-left: 1rem;
}

.listItem {
    margin-bottom: 1.25rem;
}

.listItem::before {
    margin-right: .75rem;
}

.title {
    display: block;
    color: black;
    font-size: 1.25rem;
    line-height: 1.25rem;
}


@media (min-width: 400px) {

    .title {
        display: inline-block;
    }

    .subtitle {
        margin-left: .75rem;
    }
}