.container {
    width: 100%;
    display: flex;
    justify-items: center;
}

.input {
    background: none;
    border: 1px solid black;
    box-shadow: none;
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0;
    padding: .25rem .5rem;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
}